<script defer src="https://cdn.crop.guide/loader/l.js?c=RQKGTN"></script>

<style>
    .registration-form {
        padding: 50px 0;
    }

    .registration-form form {
        background-color: #fff;
        max-width: 700px;

        margin: auto;
        padding: 50px 70px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    }

    .registration-form .form-icon {
        text-align: center;
        background-color: #5891ff;
        border-radius: 50%;
        font-size: 40px;
        color: white;
        width: 100px;
        height: 100px;
        margin: auto;
        margin-bottom: 50px;
        line-height: 100px;
    }

    .registration-form .item {
        border-radius: 20px;
        margin-bottom: 25px;
        padding: 10px 20px;
    }

    .registration-form .create-account {
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: bold;
        background-color: #5791ff;
        border: none;
        color: white;
        margin-top: 20px;
    }

    .registration-form .social-media {
        max-width: 600px;
        background-color: #fff;
        margin: auto;
        padding: 35px 0;
        text-align: center;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        color: #9fadca;
        border-top: 1px solid #dee9ff;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    }

    .registration-form .social-icons {
        margin-top: 30px;
        margin-bottom: 16px;
    }

    .registration-form .social-icons a {
        font-size: 23px;
        margin: 0 3px;
        color: #5691ff;
        border: 1px solid;
        border-radius: 50%;
        width: 45px;
        display: inline-block;
        height: 45px;
        text-align: center;
        background-color: #fff;
        line-height: 45px;
    }

    .registration-form .social-icons a:hover {
        text-decoration: none;
        opacity: 0.6;
    }

    @media (max-width: 576px) {
        .registration-form form {
            padding: 50px 20px;
        }

        .registration-form .form-icon {
            width: 70px;
            height: 70px;
            font-size: 30px;
            line-height: 70px;
        }
    }
</style>


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



</head>

<body>
    <div class="page-wrapper">
        <div class="container">


            <div class="registration-form">

                <form style="width: 500px;" action="/admin/add-products" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <input type="text" class="form-control my-1 item" id="name" name="Name"
                            placeholder="Name of product" onkeyup="validateName()">
                        <span id="idname" class="text-danger h5"></span><br>
                    </div>
                    <div class="form-group">
                        <select name="Category" class="form-control my-1 item" id="category"
                            onkeyup="validateCategory()">
                            <option value="select" selected>-select-</option>
                            {{#each category}}
                            <option value="{{this.Name}}">{{this.Name}}</option>

                            {{/each}}
                        </select>
                        <span id="idcategory" class="text-danger h5"></span>
                    </div>

                    <div class="form-group">
                        <input type="text" name="Stock" class="form-control item my-1" id="stock"
                            placeholder="Enter Stock" onkeyup="validateStock()">
                        <span id="idstock" class="text-danger h5"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="ActualPrice" class="form-control item my-1" id="aprice"
                            placeholder="Enter Original Price" onkeyup="validateActualPrice()">
                        <span id="idaprice" class="text-danger h5"></span>
                    </div>
                    <input type="text" name="Offer" value="false" hidden>
                    <input type="text" name="Exist" value="true" hidden>
                    <div class="form-group">
                        <input type="text" class="form-control item my-1" id="des" name="Description"
                            placeholder="Enter Description" onkeyup="validateDescription()">
                        <span id="iddes" class="text-danger h5"></span>
                    </div>
                    <div class="form-group">
                        <input type="file" name="Image" class="form-control item my-1" id="image"
                            onchange="fileValidation()" class="form-control" multiple>
                        <span id="idimage" class="text-danger h5"></span><br>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-block create-account"
                            onclick="return validation()">SUBMIT</button>
                    </div>
                </form>

            </div>
        </div>

</body>

</html>


<script>
    var nameError = document.getElementById('idname');
    var stockError = document.getElementById('idstock');
    var apriceError = document.getElementById('idaprice');
    var dpriceError = document.getElementById('iddprice');
    var desError = document.getElementById('iddes');
    var catError = document.getElementById('idcategory');
    var imageError = document.getElementById('idimage');


    function validateName() {
        const name = document.getElementById('name').value

        if (name === "") {
            nameError.innerHTML = "Please enter the name!!!";
            return false;
        }
        if (name.match(/[0-9]/)) {
            nameError.innerHTML = "Numbers not allowed!!!";
            return false;
        }
        if (name.match(/[$&+,:;=?@#|'<>.-^*()%!]/)) {
            nameError.innerHTML = "Special characters not allowed!!!";
            return false;
        }
        nameError.innerHTML = null;
        return true;
    }

    function validateStock() {
        const stock = document.getElementById('stock').value

        if (stock === "") {
            stockError.innerHTML = "Please enter stock!!!";
            return false;
        }
        if (stock.match(/[a-z A-Z]/)) {
            stockError.innerHTML = "Only numbers are allowed";
            return false;
        }

        stockError.innerHTML = null;
        return true;
    }

    function validateActualPrice() {
        const aprice = document.getElementById('aprice').value

        if (aprice === "") {
            apriceError.innerHTML = "Please enter Price!!!";
            return false;
        }
        if (aprice.match(/[a-z A-Z]/)) {
            apriceError.innerHTML = "Only numbers are allowed";
            return false;
        }

        apriceError.innerHTML = null;
        return true;
    }

    function validateDiscountPrice() {
        const dprice = document.getElementById('dprice').value

        if (dprice === "") {
            dpriceError.innerHTML = "Please enter Price!!!";
            return false;
        }
        if (dprice.match(/[a-z A-Z]/)) {
            dpriceError.innerHTML = "Only numbers are allowed";
            return false;
        }

        dpriceError.innerHTML = null;
        return true;
    }

    function validateDescription() {
        const des = document.getElementById('des').value

        if (des === "") {
            desError.innerHTML = "Please enter Description!!!";
            return false;
        }

        desError.innerHTML = null;
        return true;
    }

    function validateCategory() {
        const cat = document.getElementById('category').value

        if (cat === "select") {
            catError.innerHTML = "Please enter Category!!!";
            return false;
        }

        catError.innerHTML = null;
        return true;
    }

    function validateImage() {
        const image = document.getElementById('image').value

        if (image === "") {
            imageError.innerHTML = "Please enter Images!!!";
            return false;
        }

        imageError.innerHTML = null;
        return true;
    }

    function validation() {
        if (!validateName() || !validateStock() || !validateActualPrice() || !validateDiscountPrice() || !validateDescription() || !validateCategory() || !validateImage()) {
            return false;
        }

        return true;

    }


</script>