<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

</head>

<body>
    <div class="page-wrapper">

        <div class="container-fluid">

            <table id="example" class="display h4 mt-5">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Options</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        {{#each category}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{this.Name}}</td>
                        <td><img style="width: 50px;height:50px" src="/product-images/{{this.Image}}" alt=""></td>
                        <td>
                            <a href="/admin/edit-category/{{this._id}}" class="btn btn-primary">Edit</a>
                        </td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>


</body>

</html>