<header class="navbar border border-dark bg-dark" style="z-index: 1;">

    <a href="#" class=" h2 mt-4 text-light">Admin Panel</a>
    <div>
        <a class="btn btn-primary " href="/admin/admin-logout" role="button" style="float:right ;">Logout</a>
    </div>

</header>