<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />


    <!-- custom css file link  -->
    <link rel="stylesheet" href="/stylesheets/style.css">


    <!-- custom css admin file link  -->
    <link rel="stylesheet" href="/stylesheets/styles.css">


</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"</script>


<body>

    {{#if admin}}
    {{>admin-header}}

    {{else}}
    {{>user-header}}
    {{/if}}


    {{#if admin}}


    {{>admin-navbar}}

    {{{body}}}



    {{else}}
    {{{body}}}

    {{/if}}





    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- custom js file link -->
    <script src="/javascripts/script.js"></script>

    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/javascripts/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="/javascripts/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/javascripts/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/javascripts/custom.min.js"></script>

    <!-- Chart JS -->
    <script src="/javascripts/dashboard.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {{!-- bootstrap bundle --}}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>

</body>